@import "tailwindcss";

/* Hide all scrollbars globally */
::-webkit-scrollbar {
  display: none;
}

/* For Firefox / IE */
* {
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.hide-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.hide-scrollbar::-webkit-scrollbar {
  display: none;
}

/* Fix browser autofill background color */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    transition: background-color 5000s ease-in-out 0s;
    -webkit-text-fill-color: white !important;
}
